<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Proyecto de Charts con Django{% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/foundation.min.css" %}">
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    {# Aqui se puede agregar mas css #}
    {% block cssblock %}{% endblock cssblock %}
</head>
<body>
    {# block de contenido  #}
    {% block contenido %}   
    {% endblock contenido %}
    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/vendor/foundation.min.js" %}"></script>
    <scripts src="{% static "js/app.js" %}"></script>
    {# Aqui se puede agregar mas js #}
    {% block jsblock %}{% endblock jsblock %}

</body>
</html>